{% extends 'administrator/admindashboard.html' %}
{% load static %}
{% block body %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bus Coordinators</title>
    <link rel="stylesheet" href="{% static 'teacher.css' %}">
    <style>
        a {
            text-decoration: none; 
        }
        
        .action-btn a {
            text-decoration: none; 
            color: white; 
        }
        
       
        .add-btn a {
            text-decoration: none; 
            color: white; 
        }
        </style>
   
   
</head>
<body>

    <div class="table-container">
        <h2>TEACHERS</h2>
        <table>
                <tr>
                    <th>Sl.No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Dept</th>
                    <th>Designation</th>
                    <th>Ph.No</th>
                    <th>E-mail</th>
                    <th>Action</th>
                    
                </tr>
                {% for i in val %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.teacherid}}</td>
                    <td>{{i.Name}}</td>
                    <td>{{i.department}}</td>
                    <td>{{i.designation}}</td>
                    <td>{{i.phoneno}}</td>
                    <td>{{i.email}}</td>
                    <td>
                        <button class="action-btn edit-btn"><a href="/administrator/editteacher/{{i.id}}/">Edit</a></button>
                        <button class="action-btn delete-btn"><a href="/administrator/Deleteteacher/{{i.id}}/">delete</a></button>
                    </td>
                </tr>
                {% endfor %}
                
     
        </table>
     
        <button class="add-btn"> <a href="{% url 'addteacher_page' %}">Add</a></button>
    </div>
</body>
</html>
{% endblock %}
