<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Routes</title>
    <link rel="stylesheet" href="verify_student.css">
    
</head>
<body>
    <div class="container">
        <h2>Verify Student</h2>
        <table class="route-table">
            <thead>
                <tr>
                    <th>Sl.No</th>
                    <th>Adm.No</th>
                    <th>Name</th>
                    <th>Dept</th>
                    <th>E-mail</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="edit-btn">Accept</button>
                        <button class="delete-btn">Reject</button>
                    </td>
                </tr>
                
                <!-- Additional rows can be added here -->
            </tbody>
        </table>
        <button class="add-btn">Add Student</button>
    </div>
</body>
</html>