
{% extends 'administrator/admindashboard.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guardian</title>
    <link rel="stylesheet" href="{% static 'guardian.css' %}">

   
   
</head>
<body>

    <div class="table-container">
        <h2>GUARDIAN</h2>
        
        <table>
           
                <tr>
                    <th>S. No</th>
                    <th>Name</th>
                    <th>admissionno</th>
                    <th>PH.No</th>
                    <th>Action</th>
                    <th>view student</th>
                </tr>
           
                {% for i in val %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.Name}}</td>
                    
                    <td>{{i.admissionno}}</td>
                    <td>{{i.phoneno}}</td>
                    
                    <td>
                        <button class="action-btn edit-btn"><a href="/administrator/editguard/{{i.id}}/">Edit</a></button>
                        <button class="action-btn delete-btn"><a href="/administrator/Deleteguardian/{{i.id}}/">Delete</a></button>
                    </td>
                    <td>
                        <button class="action-btn view-btn"> <a href="/administrator/Viewstudentdetails/{{i.id}}/">student details</a></button>
                    </td>
                </tr>
                {% endfor %}  
                
        </table>
        <button class="add-btn"> <a href="{% url 'addguardian_page' %}">Add</a></button>
    </div>

</body>
</html>
{% endblock %}