{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Bus Coordinators</title>
    <link rel="stylesheet" href="{% static 'transpo_stud1.css' %}">
   
   
</head>
<body>

    <div class="table-container">
        <h2>Add and Manage Student</h2>
        <table>
           
                <tr>
                    <th>S. No</th>
                    <th>Ad.No</th>
                    <th>Student Name</th>
                    <th>Batch</th>
                    <th>Route</th>
                    <th>Station</th>
                    <th>Action</th>
                </tr>
           
            </tr>
            {%for i in value %}
                 <tr>
                     <td>{{forloop.counter}}</td>
                     <td>{{i.admissionno}}</td>
                     <td>{{i.Name}}</td>
                     <td>{{i.department}}</td>
                     <td>{{i.route}}</td>
                     <td>{{i.station}}</td>
                     
                     
                     <td>
                        <button class="action-btn edit-btn"><a href="/administrator/editaddstudent/{{i.id}}/">Edit</a></button>
                        <button class="action-btn delete-btn"><a href="/administrator/Deleteteacher/{{i.id}}/">delete</a></button>
                     </td>
                 </tr>
                 {% endfor %}
 
                
                
           
        </table>
        <button class="add-btn">Add </button>
    </div>

</body>
</html>
