{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transportation</title>
    <link rel="stylesheet" href="{% static 'transpo.css' %}">
    
   
   
</head>
<body>

    <div class="table-container">
        <h2>Transportation</h2>
        <table>
            
                <tr>
                    <th>S. No</th>
                    <th>Ad.No</th>
                    <th>Student Name</th>
                    <th>department</th>
                    <th>sem</th>
                    <th>Route</th>
                    <th>Station</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th></th>
                    
                    
                    <td>
                        <button class="action-btn edit-btn"><a href="/administrator/editbusroute/{{i.id}}/">Edit</a></button>
                        <button class="action-btn delete-btn"><a href="/administrator/editbusroute/{{i.id}}/">Delete</a></button>
                    </td>
                </tr>
                
                
       
        </table>
        <button class="add-btn">Add </button>
    </div>

</body>
</html>
