{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>busstaff</title> 
    <link rel="stylesheet" href="{% static 'staff1.css' %}">
    
    
</head >
<body>

    <div class="form-container">
        <h2>add staff</h2>
        <form action=" " method="post">
            {%csrf_token %}
        
            <label for="name">Name:</label>
            <input type="text" id="name" name="Name" required>

            <label for="id">ID:</label>
            <input type="text" id="id" name="staffid" required>

            <label for="route">Route</label>
            <input type="text" id="route" name="route" required>

            <label for="PH.No">PH.No</label>
            <input type="text" id="PH.No" name="phoneno" required>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>