
{% extends 'administrator/admindashboard.html' %}
{% load static %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bus staff</title>
    <link rel="stylesheet" href="{% static 'staff.css' %}">
    
   
   
</head>
<body>

    <div class="table-container">
        <h2>Bus staff</h2>
        <table>
            
                <tr>
                    <th>Sl. No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Route</th>
                    <th>PH.No</th>
                    <th>Action</th>
                </tr>
            
                {% for i in val %}

                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.staffid}}</td>
                    <td>{{i.Name}}</td>
                    <td>{{i.route}}</td>
                    <td>{{i.phoneno}}</td>
                    
                    <td>

                        <button class="action-btn edit-btn"><a href="/administrator/editbusstaff/{{i.id}}/">Edit</a></button>
                        <button class="action-btn delete-btn"><a href="/administrator/Deletebusstaff/{{i.id}}/">delete</a></button>
                    </td>
                </tr>
                {% endfor %}

                
          
        </table>
        <button class="add-btn"> <a href="{% url 'addstaff_page' %}">Add</a></button>
    </div>

</body>
</html>
{% endblock %}
