{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Coordinators Form</title> 
    <link rel="stylesheet" href="{% static 'det1.css' %}">
    
    
</head >
<body>

    <div class="form-container">
        <h2>Bus details</h2>
        <form action="" method="post">
            {%csrf_token %}
            <div class="form-group">
                <label for="route">ROUTE:</label>
                <select name="route" id="route" placeholder="route">
                    <option value="" disabled selected>select the route</option>
                    {% for i in val %}
                    <option value="{{i.id}}">{{i.route}}</option>
                    {% endfor %}
                </select>
                </div>

            <label for="station">Station</label>
            <input type="text" id="station" name="station" required>

            <label for="vehicleno">Vehicle no:</label>
            <input type="text" id="vehicleno" name="vehicleno" required>

          

            <label for="capacity">Capacity</label>
            <input type="text" id="capacity" name="capacity" required>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>